.container{
  display: grid;
  height: 80 vh;
  color: balck;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 3.5fr 0.5fr;
  grid-template-areas:
    "header header"
    "contentLeft contentRight "
    "footer footer";
  grid-gap: 0.5rem;
}
#header{
  background-color: aqua;
  grid-area: header;
  text-align: center;
}
#contentLeft{
  background-color: lightblue;
  grid-area: contentLeft;
  padding-left: 2.5%;
}
#contentRight{
  background-color: lightblue ;
  grid-area: contentRight;
  padding-left: 2.5%;
}
#footer{
  background-color:  aquamarine;
  grid-area: footer;
  text-align: center;

}
#contactForm{
  background-color: grey;
}
